In [1]:
import pandas as pd
from faker import Faker
import numpy as np
from datetime import timedelta
fake = Faker('ru_RU')

In [2]:
N = 100

In [3]:
# fake.number()
names = [fake.name() for _ in range(N)]
names[:5]

['Цветков Мина Богданович',
 'Светозар Егорович Самойлов',
 'Елена Львовна Гуляева',
 'Ксения Владиславовна Корнилова',
 'Потап Вилорович Жуков']

In [4]:
# fake.phone_number()
phone_numbers = [fake.phone_number() for _ in range(N)]
phone_numbers[:5]

['+70131840832',
 '+7 (624) 648-6768',
 '+7 613 805 7682',
 '+78516857622',
 '+7 (350) 130-8785']

In [5]:
# fake.passport_number()
passports = [fake.passport_number() for _ in range(N)]
passports[:5]

['K05816870', '542223808', 'G66858683', 'D93983784', '163039124']

In [6]:
# fake.random_number(digits=13)
ids =[fake.random_number(digits=13) for _ in range(N)]
ids[:5]

[6729685125601, 4627939262114, 6222619234521, 5432503961939, 4587725578759]

In [7]:
all_kinds = ['лыжи', 'коньки', 'велосипед', 'футбольный мяч', 'воллейб. мяч', 'гольф', 'настольный теннис', 'ракетки']
# fake.random_choices(all_kinds)[0]
game_kinds = [fake.random_choices(all_kinds)[0] for _ in range(N)]
game_kinds[:5]

['ракетки',
 'настольный теннис',
 'воллейб. мяч',
 'воллейб. мяч',
 'настольный теннис']

In [8]:
# fake.random_int(min=100, max=500)
price_day = [fake.random_int(min=100, max=500) for _ in range(N)]
price_day[:5]

[491, 173, 249, 208, 172]

In [9]:
price_three = (np.array(price_day) * 3).tolist()
price_three[:5]

[1473, 519, 747, 624, 516]

In [10]:
price_week = (np.array(price_day) * 7).tolist()
price_week[:5]

[3437, 1211, 1743, 1456, 1204]

In [11]:
ost = [fake.random_int(min=100, max=500) for _ in range(N)]
ost[:5]

[353, 321, 465, 145, 385]

In [12]:
ban_day = [fake.random_int(min=1500, max=5000) for _ in range(N)]
ban_day[:5]

[1884, 2522, 2773, 4498, 2112]

In [13]:
ban_week = (np.array(ban_day) * 7).tolist()
ban_week[:5]

[13188, 17654, 19411, 31486, 14784]

In [14]:
date_given = [fake.date_this_year() for _ in range(N)]
date_given[:5]

[datetime.date(2024, 2, 7),
 datetime.date(2024, 5, 18),
 datetime.date(2024, 8, 29),
 datetime.date(2024, 2, 2),
 datetime.date(2024, 8, 13)]

In [15]:
durations = [fake.date_this_year().day for _ in range(N)]
durations[:5]

[25, 8, 21, 18, 26]

In [16]:
fact_returned = [date + timedelta(days=fake.random_digit()+duration) for date, duration  in zip(date_given, durations)]
fact_returned[:5]

[datetime.date(2024, 3, 9),
 datetime.date(2024, 5, 26),
 datetime.date(2024, 9, 23),
 datetime.date(2024, 2, 21),
 datetime.date(2024, 9, 15)]

In [17]:
dataset = pd.DataFrame(
    data=np.array([names, phone_numbers, passports, ids, game_kinds, price_day, price_three, price_week,
          ost, ban_day, ban_week, date_given, durations, fact_returned]).T,
    columns=['ФИО', 'Тел', 'Паспорт', 'Инв_ном', 'Вид', 'Аренда-сут', 'Аренда-3д', 'Аренда-нед', 'Ост', 'Штраф-сут',
             'Штраф-нед', 'Дата-выд', 'Длит-проката', 'Факт-возврат']
)

In [18]:
dataset.head(8).to_csv('first_phase.csv', index=False)
dataset.head()

,ФИО,Тел,Паспорт,Инв_ном,Вид,Аренда-сут,Аренда-3д,Аренда-нед,Ост,Штраф-сут,Штраф-нед,Дата-выд,Длит-проката,Факт-возврат
0,Цветков Мина Богданович,+70131840832,K05816870,6729685125601,ракетки,491,1473,3437,353,1884,13188,2024-02-07,25,2024-03-09
1,Светозар Егорович Самойлов,+7 (624) 648-6768,542223808,4627939262114,настольный теннис,173,519,1211,321,2522,17654,2024-05-18,8,2024-05-26
2,Елена Львовна Гуляева,+7 613 805 7682,G66858683,6222619234521,воллейб. мяч,249,747,1743,465,2773,19411,2024-08-29,21,2024-09-23
3,Ксения Владиславовна Корнилова,+78516857622,D93983784,5432503961939,воллейб. мяч,208,624,1456,145,4498,31486,2024-02-02,18,2024-02-21
4,Потап Вилорович Жуков,+7 (350) 130-8785,163039124,4587725578759,настольный теннис,172,516,1204,385,2112,14784,2024-08-13,26,2024-09-15

# Process

In [19]:
people = dataset[['ФИО', 'Тел', 'Паспорт']]
people['ID'] = people.sum(axis=1).map(hash).map(abs)
people = people[['ID', 'ФИО', 'Тел', 'Паспорт']]
people.head(8).to_csv('people.csv', index=False)
people.head(8)

/tmp/ipykernel_37363/643663558.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people['ID'] = people.sum(axis=1).map(hash).map(abs)

,ID,ФИО,Тел,Паспорт
0,8498816955744471104,Цветков Мина Богданович,+70131840832,K05816870
1,5729044962522407338,Светозар Егорович Самойлов,+7 (624) 648-6768,542223808
2,820345818383865588,Елена Львовна Гуляева,+7 613 805 7682,G66858683
3,2014338564320398867,Ксения Владиславовна Корнилова,+78516857622,D93983784
4,6222190636691605281,Потап Вилорович Жуков,+7 (350) 130-8785,163039124
5,6311242358646181295,Ольга Игоревна Дементьева,+7 223 088 8930,D47187958
6,5163350604103109335,Тит Гавриилович Кононов,8 428 979 2794,M96875193
7,8675180921884431702,Александров Демьян Фролович,+7 776 920 6829,781352932

In [20]:
people['ID'].value_counts()

ID
8498816955744471104    1
5762203301331748347    1
6872510483781606936    1
544793368968782550     1
6379135562013278210    1
                      ..
2953996939836029685    1
1779107812807827791    1
6236716959419593099    1
6253577181296195555    1
8288033323950583302    1
Name: count, Length: 100, dtype: int64

In [21]:
dataset['ID'] = people['ID']

In [22]:
dataset = dataset[['ID'] + dataset.columns[:-1].to_list()]

In [23]:
dataset.drop(columns=['ФИО', 'Тел', 'Паспорт'], inplace=True)

In [24]:
dataset.head()

,ID,Инв_ном,Вид,Аренда-сут,Аренда-3д,Аренда-нед,Ост,Штраф-сут,Штраф-нед,Дата-выд,Длит-проката,Факт-возврат
0,8498816955744471104,6729685125601,ракетки,491,1473,3437,353,1884,13188,2024-02-07,25,2024-03-09
1,5729044962522407338,4627939262114,настольный теннис,173,519,1211,321,2522,17654,2024-05-18,8,2024-05-26
2,820345818383865588,6222619234521,воллейб. мяч,249,747,1743,465,2773,19411,2024-08-29,21,2024-09-23
3,2014338564320398867,5432503961939,воллейб. мяч,208,624,1456,145,4498,31486,2024-02-02,18,2024-02-21
4,6222190636691605281,4587725578759,настольный теннис,172,516,1204,385,2112,14784,2024-08-13,26,2024-09-15

In [25]:
items = dataset[['Инв_ном', 'Вид', 'Аренда-сут', 'Штраф-сут']]

In [26]:
dataset.drop(columns=['Вид', 'Аренда-сут', 'Аренда-3д', 'Аренда-нед', 'Ост', 'Штраф-сут', 'Штраф-нед'], inplace=True)

In [27]:
dataset.head()

                    ID        Инв_ном    Дата-выд Длит-проката Факт-возврат
0  8498816955744471104  6729685125601  2024-02-07           25   2024-03-09
1  5729044962522407338  4627939262114  2024-05-18            8   2024-05-26
2   820345818383865588  6222619234521  2024-08-29           21   2024-09-23
3  2014338564320398867  5432503961939  2024-02-02           18   2024-02-21
4  6222190636691605281  4587725578759  2024-08-13           26   2024-09-15

In [28]:
dataset.drop(columns=['Длит-проката'])

                     ID        Инв_ном    Дата-выд Факт-возврат
0   8498816955744471104  6729685125601  2024-02-07   2024-03-09
1   5729044962522407338  4627939262114  2024-05-18   2024-05-26
2    820345818383865588  6222619234521  2024-08-29   2024-09-23
3   2014338564320398867  5432503961939  2024-02-02   2024-02-21
4   6222190636691605281  4587725578759  2024-08-13   2024-09-15
..                  ...            ...         ...          ...
95  5218877798486064812  9022637947686  2024-03-06   2024-03-17
96  8894441630588404985  1891129914231  2024-03-22   2024-04-25
97  2710165900275339078  7655605133863  2024-06-17   2024-07-06
98  8348341127030823833  1692647885135  2024-08-12   2024-09-12
99  8288033323950583302  3983653319704  2024-05-23   2024-06-13

[100 rows x 4 columns]

In [29]:
dataset.head(8).to_csv('last.csv', index=False)
items.head(8).to_csv('items.csv', index=False)
people.head(8).to_csv('people.csv', index=False)

In [31]:
dataset.head(8)

                    ID        Инв_ном    Дата-выд Длит-проката Факт-возврат
0  8498816955744471104  6729685125601  2024-02-07           25   2024-03-09
1  5729044962522407338  4627939262114  2024-05-18            8   2024-05-26
2   820345818383865588  6222619234521  2024-08-29           21   2024-09-23
3  2014338564320398867  5432503961939  2024-02-02           18   2024-02-21
4  6222190636691605281  4587725578759  2024-08-13           26   2024-09-15
5  6311242358646181295  8027947857621  2024-06-18            5   2024-06-23
6  5163350604103109335  2946996100589  2024-04-05            5   2024-04-10
7  8675180921884431702   764479613937  2024-06-23            3   2024-06-29